.contents-item {
  float:left;
  padding:33px 20px 33px 20px
  margin-right:40px;
  margin-left:40px;
}

.contents-item h3{
  font-size: 20px;
  margin-top: 30px;
}
.contents-item p1{
  font-size: 7px;
  margin-top: 30px;
}
.contents-item p2{
  font-size: 7px;
  margin-top: 30px;
}
