.contents-item {
  float:left;
  padding:33px 50px 33px 55px
  margin-right:20px;
  margin-left:50px;
}

.contents-item h4{
  font-size: 16px;
  margin-top: 30px;
}
.contents-item p1{
  font-size: 14px;
  margin-top: 10px;
}
.contents-item p2{
  font-size: 14px;
  margin-top: 10px;
}
