.contents-item {
  float:left;
  padding:13px 10px 13px 10px
  margin-right:20px;
}

.contents-item h3{
  font-size: 14px;
  margin-top: 30px;
}
.contents-item p1{
  font-size: 7px;
  margin-top: 30px;
}
.contents-item p2{
  font-size: 7px;
  margin-top: 30px;
}
